html, body{
    height: 100%;
	width: 100%;
}


.carousel-inner .active.left { left: -25%; }
.carousel-inner .next        { left:  25%; }
.carousel-inner .prev		 { left: -25%; }
.carousel-control 			 { width:  4%; }
.carousel-control.left,.carousel-control.right {margin-left:15px;background-image:none;}


.container .row {
    margin-right: -16px;
    margin-left: -16px;
}

/* Resize font */


html {
	font-size:80.5%;
	line-height:24px;
	line-height:1.5rem;
	-ms-text-size-adjust:100%;
	-webkit-text-size-adjust:100%;
	-webkit-transition:all 0.25s ease-in-out;
	transition:all 0.25s ease-in-out;
}

@media (min-width: 1200px) {
	html {
		font-size:100%;
		line-height:27px;
		line-height:1.6875rem;
	}
}


.navbar-nav a, .navbar-brand {
	font-family: 'Open Sans', Tahoma, sans-serif;
	font-size: 19px;
	font-size: 1.3571428rem;
}

.dropdown-menu {
	background-color: #5996CC; 
}

.dropdown-menu li a:link, .dropdown-menu li a:visited, .dropdown-menu li .active {
	text-decoration: none;
	line-height: 2.1em; 
	background-color: #5996CC; 
	color: #111; 
}

.dropdown-menu li a:hover, .dropdown-menu li a {
	background-color: #0040FF;
	color: #eee;
}

@media (max-width: 767px) {
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
        background-color: #333; 
    }
    .navbar-fixed-top {
		top: 0;
		border-width: 0 0 1px;
	}
      .navbar-collapse.collapse {
/*      display: none!important; */
    }
	.navbar-nav {
        float: none!important;
		margin-top: 7.5px; 
	}
	.navbar-nav>li {
        float: none;
    }
	
	.navbar-nav>li a {
		background-color: #5996CC !important; 
		color: #111 !important; 
		
	}
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px; 
		background-color: #333 !important; 
		color: #eee !important; 
    }
	
	.navbar-nav>li>a:visited {
		background-color: #333 !important; 
		color: #eee !important; 
    }

	.dropdown-menu li a:hover, .dropdown-menu li a:active {
		background-color: #0040FF !important;
		color: #eee !important;
	}

    .collapse.in{
  		display:block !important;
	}
}

/* Mobile first */

.visible-sm-block img, .visible-xs-block img {
	display: block;
	padding-bottom: 20px !important;
}

/* lessons menu */

.lessons {
    min-height: 100%;
	overflow: hidden; 
}

.lessons .menu {
	font-family: 'Open Sans', Tahoma, sans-serif;
	background-color: #333 !important;
	padding-bottom: 50px !important;
}

.lessons span {
	font-size: 17px;
	font-size: 1.214285714rem;
	letter-spacing: 1.3;
	}

.lessons h2 {
	color: #5996CC;
	font-size: 20px;
	font-size: 1.4285714285rem;
	line-height: 1.5;
	letter-spacing: 1.4;
	text-align: center;
	margin-bottom: 30px;
}

.lessons h2 span {
	color: #356AA0;
	font-weight: 800;
}

.lessons h2 .veca {
	font-size: 40px;
	font-size: 2.8571428571rem;
	
}
.lessons h2 .manja {
	font-size: 24px;
	font-size: 1.7142857142rem;
}

.lessons li {
	color: #777;
	font-size: 16px;
	font-size: 1.1428571428rem;
	margin-top: 10px;
	list-style: none;
}

.lessons a:link, .lessons a:visited {
	text-decoration: none;
	font-size: 16px;
	font-size: 1.1428571428rem;
	letter-spacing: 1.4;
	line-height: 1.6;
	color: white;
	-webkit-transition: color 0.3s ease-in-out;
	transition: color 0.3s ease-in-out; 
}


.lessons a:hover, .lessons a:active {
    color:#5996CC; 
    text-decoration: underline;
}

.lessons .menu a.selection {
	color:#5996CC; 
}

/* article */

.lessons .article {
	font-family: 'Open Sans', Tahoma, sans-serif;
	margin: 10px 0px !important;
	background-color: #fff !important;
}

.article h1 {
	color: #0E3256;
    text-align: center;
 	padding: 70px 5px 20px 0;
    border-bottom: 1px #333 solid;
}

.article h2.podnaslov {
    color: #777;
    text-align: center;
	font-size: 25px !important;
	font-size: 1.78571428rem;
	margin: 25px 20px 20px;
    padding-bottom: 5px;
    border-bottom: 1px #333 dotted;
}
    
.article .naslov {
    color: #333;
    font-size: 30px;
	font-size: 2.14285714rem;
	text-align: center;
	padding: 30px 30px 10px 0px;
    border-bottom: 1px #333 solid;
}

.article p {
	padding: 2px 20px 2px 20px;
    color: #222;
    font-size: 19px;
	font-size: 1.35714285rem;
    text-align: justify;
    letter-spacing: 1.05;
    line-height: 1.7;
}
	
.article a:link, .article a:visited {
    font-size: 19px;
	font-size: 1.35714285rem;
	color: #356AA0;
    text-decoration: none;
}
    
.article a:hover, .article a:active {
    font-size: 19px;
	font-size: 1.35714285rem;
	color:#D01F3C; 
    text-decoration: underline;
}

.color-box {
	margin-top: 15px;
	padding-left:17px;
}

.color-box p.extra {
	padding-top:15px;
}

.color-box strong {
	font-size: 17px;
	font-size: 1.2142857rem;
	padding-right:5px;
	font-family:"Open Sans", Arial, sans-serif;
}

.color-box .shadow {
	margin: 30px 0;
}

.info-tab {
	width:36px;
	height:50px;
	float:left;
	margin-left:-21px;
	position:relative;
	top:6px;
	background:url("../images/sprite.png") no-repeat;
}

.article .trik-box {
    padding:15px 25px 15px 25px;
	color:#2e5014;
	background:#5996CC;
}
    
.article .trik-ikona {
    background: url('../../predlozak/slike/sprite.png') 0 0 no-repeat;
}

.article .poveznica {
	color: #fff !important;
	font-weight: 800;
}

.article .popis li {
	font-size: 19px;
	font-size: 1.3571428rem;
	line-height: 1.7;
	color: black;
	list-style: circle !important;
	list-style-type: circle;
	margin-left: 50px !important;
}

.article .primjer {
	line-height: 1.7;
}
/* footer */
.footer p {
	font-size: 16px;
	font-size: 1.1428571rem;
    color:#0E3256;
    text-align: center;
    margin-top: 25px;
	padding-top: 5px;
    border-top: 1px #333 solid;
}


/* CSS for fixed-fluid layout */
@media (min-width: 1200px) {

	.lessons {
		margin-top: 0px !important;
	}
	
	.menu {
		width: 400px;  /* the fixed width required */
		float: left;
	}
	.article {
		width: 875px;
		float: left;
	}
	.article + div {
		 margin-left: 1200px;  /* must match the fixed width in the .fixed class */
		 overflow: hidden;
	}
	/* CSS to ensure sidebar and content are same height (optional) */
/*
	.fill { 
		min-height: 100%;
		position: relative;
	}
	.filler:after{
		background-color:inherit;
		bottom: 0;
		content: "";
		height: auto;
		min-height: 100%;
		left: 0;
		margin:inherit;
		right: 0;
		position: absolute;
		top: 0;
		width: inherit;
		z-index: -1;  
	}
*/
}

/* Medium Devices, .visible-md-* */

@media (min-width: 992px) and (max-width: 1199px) {
	.lessons {
		margin-top: 20px !important;
	}
	
	.lessons .menu {
		min-width: 350px;
	}
	.lessons .article {
		min-width: 600px;
	}
}

/* Medium Devices, .visible-sm-* */}*/

@media (min-width: 768px) and (max-width: 991px) {
	.lessons {
		margin-top: 40px !important;
	}
	.lessons .menu {
		min-width: 300px;
	}
	.lessons .article {
		min-width: 650px;
	}
}

	/* Extra Small Devices, .visible-xs-* */
@media (max-width: 767px) {
	.lessons {
		margin-top: -50px !important;
		padding-top: 100px !important;
        background-color: #333;
	}
	
	.lessons .menu {
		display: block;
		width: 100%;
	}
	.lessons .article {
		display: block;
		width: 100%;
	}
}

.hidden-col {
	display: none;
	visibility: hidden !important;
}


/* Column same height */

.container-height {
    display:table;
    padding-left:0px;
    padding-right:0px;
}

.row-height {
    display:table-row;
}

.col-height {
    display:table-cell;
    float:none;
}

/* Oznake koda */

.language-markup, .language-c, .language-javascript, .language-css {
	font-size: 17px;
	font-size: 1.2142857rem;
}

.token.el {
	font-size: 19px;
	font-size: 1.35714285rem;
	color: #905;
	text-shadow: 0 1px #ccc;
}

.token.attr, .token.word, .token.sel {
	font-size: 19px;
	font-size: 1.35714285rem;
	color: #690;
	text-shadow: 0 1px #ccc;
}

.token.tekst {
	font-size: 19px;
	font-size: 1.35714285rem;
	color: black;
	text-shadow: 0 1px #ccc;
}

.token.value, .token.key {
	font-size: 19px;
	font-size: 1.35714285rem;
	color: #07a;
	text-shadow: 0 1px #ccc;
}

.token.funk {
	font-size: 19px;
	font-size: 1.35714285rem;
	color: #DD4A68;
	text-shadow: 0 1px #ccc;
}

/* ---------------------- Sharrre -------------------------- */


#twitter.sharrre,
#facebook.sharrre,
#google.sharrre,
#linkedin.sharrre 
{
  float: left;
  text-align: center;
  width:150px;
  height: 50px;
}

#facebook.sharrre {
  background: url("../slike/social.png") 0px -10px;
}

#twitter.sharrre {
  background: url("../slike/social.png") 0px -70px;
}


#google.sharrre {
  background: url("../slike/social.png") 0px -190px;
}


#linkedin.sharrre {
  background: url("../slike/social.png") 0px -130px;
}

#twitter.sharrre a,
#facebook.sharrre a,
#google.sharrre a,
#linkedin.sharrre a
{
  position: apsolute;
  text-decoration: none;
  color:#555;
}

#twitter.sharrre .count,
#facebook.sharrre .count,
#google.sharrre .count, 
#linkedin.sharrre .count
{ 
    font-family: Tahoma, sans-serif;
    font-weight: 900;
  font-size: 25px;
  position: relative;
  top: -10px;
  left:60px;
  padding:15px;
  color:#EEE;
  width:50px;
}

#twitter.sharrre .share,
#facebook.sharrre .share,
#google.sharrre .share,
#linkedin.sharrre .share
{
  font-size: 12px;
  color: #eee;  
  border-right:none;
  width:90px;
}

#twitter.sharrre .share:active,
#facebook.sharrre .share:active,
#google.sharrre .share:active
{
  box-shadow:inset 0 5px 5px rgba(0,0,0,.5); 
}

.box {
  height:20px !important;
}
